header {
  height: 150px;
  width: 100%;
}

ul {
  display: block;
  list-style-type: none;
  float: right;
  background-color:white;
  overflow: hidden;
  font-size: 16px;  
}

#fill {
  visibility: hidden;
}

#dot {
  background-image: url(dots.png);
  background-size: 15px 15px;
  background-repeat: no-repeat;
}
#dot:hover {
  background-image: url(dots2.png);
  background-size: 15px 15px;
  background-repeat: no-repeat;
}

.pix {
  width: 100%;
  height: 250px;
}

li a {
  display: block;
  block-size: 20px;
  writing-mode: horizontal-tb;
  color: #333333;
  text-decoration: none;
  margin: 12px;
  font-size: 12px;
}

li a:hover {
  color: #33f;
}

li {
  float: right;
}

#logo {
  position: absolute;
  left: 28%;
  top: 28%;
  width: 100%;
  margin: 0 auto;
}

.bar {
  position: absolute;
  top: 45%;
  width: 630px;
  margin: 35px;
  margin-left: 5%;
  margin-right: 5%;
}

form input {
  padding: 10px;
  font-size: 17px;
  border: 3px solid rgba(200,200,200,.6);
  border-right: none;
  border-top-left-radius: 30px;
  border-bottom-left-radius: 30px;
  float: left;
  width: 60%;
  background: white;
  position: relative;
  margin-left: 10%;
  font-size: 16px;
}

form input:focus {
  outline-width: 0;
}

form button {
  float: left;
  width: 35px;
  height: 51px;
  padding: 10px;
  background: url(mic.png);
  background-size: 20px 25px;
  background-repeat: no-repeat;
  background-position-y: center;
  color: white;
  font-size: 17px;
  border: 3px solid rgba(200,200,200,.6);
  border-left: none;
  border-top-right-radius: 30px;
  border-bottom-right-radius: 30px;
  cursor: pointer;
  position: relative;
}

form button:focus {
  outline-width: 0;
}

.shortcuts {
  position: absolute;
  background-color: white;
  list-style-type: none;
  text-align: center;
  padding: 18px;
  width: 100%;
  top: 60%; 
  left:20px;

}

.shortcuts li:hover{
  background-color: #bbb;
}

ul.shortcuts li{
  display: inline-block;
  font-size: 20px;
  padding: 18px;
  position: relative;
  left: -12%;

}

ul.shortcuts li a{
  display:block;
  width: 50px;
  height: 50px;
  background-color: rgba(220,220,220,.3);
  border-radius: 50%;
  text-align: center;
}

#scpic {
  display: block;
  position: relative;
  padding: 25px;
  background-image: url(plus.png);
  background-size: 20px 20px;
  background-repeat: no-repeat;
  top: 30%;
  left: 30%;
}

#scpic2 {
  display: block;
  position: relative;
  padding: 25px;
  background-image: url(square.png);
  background-size: 20px 20px;
  background-repeat: no-repeat;
  top: 30%;
  left: 30%;
}

#scpic3 {
  display: block;
  position: relative;
  padding: 25px;
  background-image: url(circle.png);
  background-size: 30px 30px;
  background-repeat: no-repeat;
  top: 20%;
  left: 10%;
}

#scpic4 {
  display: block;
  position: relative;
  padding: 25px;
  background-image: url(boom.png);
  background-size: 30px 30px;
  background-repeat: no-repeat;
  top: 20%;
  left: 20%;
}

.final {
  position: absolute;
  bottom:2%;
  left: 30%;
}

#youtubs{
  display: inline-block;
  position: relative;
  padding: 15px;
  padding-top: 10px;
  background-image: url(play.png);
  background-size: 35px 35px;
  background-repeat: no-repeat;
}

#words {
  display:inline-block;
  font-size: 14px;
  position: relative;
  left: 5%;
  padding-bottom: 10px;
}